<div class="lg:flex w-full items-start">
    <div class="w-full lg:w-auto lg:pr-4 grow">

        <div>
            <c1-table tabindex="0"
                labels="id,Data"
                keys="id,time"
                types="as-is,date-time"
                orderBy="time"
                rowsKey="time"
                orderDir="desc"
                editEnabled="true"
                title="Tempi non assegnati"
                ref="timeTable"
            ></c1-table>
        </div>

        <div ref="scoreTableDiv" class="mt-8 {{#unless selectedPs}}hidden{{/unless}}">
            <c1-table tabindex="0"
                labels="Num,Nome,Start,End,Penalità,Tempo,Stato"
                keys="assigned,assignedName,start,assignedTime,pen,diff,status"
                types="bolder,as-is,time,time,penalty,diff,as-is"
                filterKey="assignedName,assigned"
                rowsKey="score"
                title="Classifica parziale"
                hideCount="true"
                actionDisabled="true"
                ref="scoreTable"
            ></c1-table>
        </div>

        <div class="mt-8">
            <c1-table tabindex="0"
                labels="Num,Nome,PS,End,Penalità"
                keys="assigned,assignedName,assignedPs,assignedTime,pen"
                types="bolder,as-is,as-is,date-time,penalty"
                filterKey="assignedName,assigned"
                rowsKey="take"
                title="Tempi assegnati"
                editEnabled="true"
                ref="takeTable"
            ></c1-table>
        </div>

         
    </div>
    <div class="w-full lg:w-80 lg:sticky lg:top-0">

        <div
            class="bg-white rounded-lg shadow transition-colors mb-4"
        >

            <div class="px-6 py-4">
                <div class="w-full space-y-6">
                    <div class="w-full">
                        <select
                            class="font-semibold w-full block px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
                            required
                            ref="selectPs"
                        >
                            <option value="">
                                Tutte le PS
                            </option>
                            {{#each pss}}
                                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                                    {{name}}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <form
            class="bg-white rounded-lg shadow  transition-colors"
            ref="assignTime"
        >

            <div class="px-6 py-4">
                <div class="relative mt-6">
                    <div class="relative flex items-center justify-between text-base leading-5 font-semibold">
                        <span class=" text-gray-500">
                            Assegna
                        </span>
                        <button
                            class="flex items-center p-2 bg-white rounded-full shadow hover:text-gray-700 text-md"
                            title="Clear"
                            type="reset"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-4 h-4"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M12 9.75L14.25 12m0 0l2.25 2.25M14.25 12l2.25-2.25M14.25 12L12 14.25m-2.58 4.92l-6.375-6.375a1.125 1.125 0 010-1.59L9.42 4.83c.211-.211.498-.33.796-.33H19.5a2.25 2.25 0 012.25 2.25v10.5a2.25 2.25 0 01-2.25 2.25h-9.284c-.298 0-.585-.119-.796-.33z"
                                />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="mt-6">
                    <div class="w-full space-y-6">
                        <div class="w-full">
                            <div class="relative">
                                <input
                                    type="text"
                                    class="rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
                                    required
                                    placeholder="Time ID"
                                    name="id"
                                    readonly
                                />
                            </div>
                        </div>
                        <div class="w-full">
                            <div class="relative">
                                <input
                                    type="text"
                                    class="rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
                                    required
                                    placeholder="Time"
                                    name="timeStr"
                                    readonly
                                />
                            </div>
                        </div>
                        <div class="w-full">
                            <div class="relative">
                                <input
                                    type="text"
                                    class="rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
                                    required
                                    placeholder="PS"
                                    name="psName"
                                />
                            </div>
                        </div>

                        <div class="w-full">
                            <div class="relative">
                                <input
                                    type="text"
                                    class="rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
                                    required
                                    placeholder="Corridore (Numero)"
                                    name="runnerNum"
                                    pattern="[0-9]+"
                                />
                            </div>
                        </div>

                        <div class="w-full">

                            <button
                                class="w-full px-4 py-2 text-base font-semibold text-white bg-gray-500 rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:ring-offset-gray-200"
                                type="submit"
                            >
                                Assegna
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>