<div class="fixed top-0 left-0 right-0 bottom-0 hidden z-50" ref="root" data-modal="true">
    <div class="absolute w-full h-full bg-black dark:bg-white opacity-30" ref="backdrop"></div>
    <div class="absolute w-full h-full flex items-center justify-center pointer-events-none">
        <div class="w-80 h-fit bg-white dark:bg-black rounded-xl flex flex-col px-4 py-4 pointer-events-auto">
            <h3 class="text-xl font-semibold grow dark:text-white">
                Inserisci Time
            </h3>
            <div class="mt-6">

                <form class="w-full" id="customTimeForm" ref="customTimeForm">
                    <div class="relative">
                        <input
                            type="datetime-local"
                            class="rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
                            required
                            placeholder="Time"
                            name="time"
                        />
                    </div>
                    <div class="mt-4">
                        <input
                            type="text"
                            ref=""
                            class="rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
                            required
                            placeholder="Millisecondi"
                            name="ms"
                            pattern="[0-9]+"
                        />
                    </div>
                </form>

                <div class="flex justify-end">
                    <button
                        class="min-w-[100px] px-4 py-2 mr-4 text-base font-semibold text-black bg-gray-200 rounded-lg shadow-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:ring-offset-2 focus:ring-offset-gray-100"
                        ref="no"
                    >Annulla</button>
                    <button
                        class="min-w-[100px] px-4 py-2 text-base font-semibold text-white bg-gray-500 rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:ring-offset-gray-200"
                        ref="yes"
                        form="customTimeForm"
                    >Assegna</button>
                </div>

            </div>
        </div>
    </div>
</div>