<div class="lg:flex w-full">
    <div class="w-full lg:w-2/3 lg:pr-2">
        <c1-table
            labels="ID,Num,Nome,Categoria,Start,End,Diff"
            keys="id,number,name,category,start,end,diff"
            filterKey="name"
            orderBy="diff"
            actionDisabled="true"
            ref="table"
        ></c1-table>
    </div>
    <div class="w-full lg:w-1/3">
        <div class="bg-white rounded-lg shadow sm:max-w-md sm:w-full sm:mx-auto sm:overflow-hidden">

            <div class="px-4 py-8 sm:px-10">
                <div class="w-full space-y-6">
                    <div class="w-full">
                        <select
                            class="font-semibold w-full block px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
                            ref="selectCategory"
                        >
                            <option value="">
                                Tutte le Categorie
                            </option>
                            {{#each categories}}
                                <option value="{{this}}">
                                    {{this}}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="mt-6">
                    <div class="w-full space-y-6">
                        <div class="w-full">
                            <button
                                class="w-full px-4 py-2 text-base font-semibold text-white bg-gray-500 rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:ring-offset-gray-200"
                                type="button"
                                ref="download"
                            >
                                Scarica CSV
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>